@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url(../public/BG.jpg);
  background-repeat: repeat;
  background-size: contain; */
  background-color: black;
}

.background {
  background-color: rgb(30, 29, 29);
  background-image: url(../public/BG.jpg);
}
canvas {
  z-index: 1000 !important;

  position: relative;
}

.section3 {
  z-index: 1000 !important;
}

.canvasContainer {
  /* position: fixed !important; */
}

.circular {
}

.innerCircle {
  background-color: rgb(30, 29, 29);
  transform: scale(2) !important;
  @apply absolute top-[400px] ;

  
}

.box {
  position: absolute;

  @apply shadow-lg bg-white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  /* transform-origin: 100px 100px; */
  img {
    object-fit: cover;
  }
}

#box1 {
  bottom: 100px;
  left: 100%;
  /* transform: rotateX(0deg); */
}

#box2 {
  bottom: 100px;
  left: 100%;
  /* transform: translateY(-50%) rotate(270deg); */
}

#box3 {
  bottom: 100px;
  left: 100%;
  /* transform: translateY(-50%) rotate(90deg); */
}

.box-content {
  display: flex;
  flex-direction: column;
  padding: 16px;

  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
}
